pythonenv*
.vscode

create_users.sh
create_users_hourly.sh

create_plaintext.sh

page/index.html

page/plots/data.json
page/plots/dataByRisk.json
page/plots/usersByCount.json

page/json
page/json_EUR
page/json_hourly
page/plaintext
page/users
page/users_hourly
