body {
  font-family: sans-serif;
}

.container {
    margin: 2em auto;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.left{
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.right{
  grid-column: 2;
  width: 100%;
  height: 100%;
}

.heading {
  grid-column: 1;
  grid-row: 1;
}

.row-1 {
  grid-row: 2;
}

.row-2 {
  grid-row: 3;
}

.row-3 {
  grid-row: 4;
}

.sources {
  grid-row: 5;
  grid-column: 1/3;
  width: 100%;
}
